<% content_for :head do %>
  <script>
  $(document).ready(function(){
    $('#kontact_information_birthday').datepicker({ yearRange: '1920:2000', dateFormat: "MM d, yy", defaultDate: new Date(1980, 1 - 1, 1) });
  });
  </script>
<% end %>
<div class="clearfix">
    <%= link_to "Skip these steps. I will fill in my profile later" , profile_kontacts_path(@profile) , :class=> "skipsteps" %>
    <h2 class="wizardtitle">Getting Started</h2>
</div>
<%= render :partial => "wizard_options" , :locals => { :details => "_active" , :mobile => "" , :location => ""} %>
<h3 class="subtitle">Profile Details</h3>
<p class="clear">
    Tell us about yourself
</p>
<% form_tag(set_details_profile_path(:id => @profile) , :multipart => true) do -%>
<div class="profilefieldswrapper">
    <div class="profilefields clearfix profileinternal">
        <label>
            Photo
        </label>
        <%= file_column_field 'kontact_information', 'icon' , :class => "upload" , :size => "22x1" %>
        <label class="helper">
            Upload an icon for your account. It should be square, no larger than 600x600 pixels, and in JPG, Gif or PNG format
        </label>
    </div>
    <div class="profilefields clearfix profileinternal">
        <label>
            First Name
        </label>
        <%= text_field 'kontact_information' , 'given_name', :class=>'textfield' %>
    </div>	
    <div class="profilefields clearfix profileinternal">
        <label>
            Last Name
        </label>
        <%= text_field 'kontact_information' , 'family_name', :class=>'textfield' %>
    </div>
	<div class="profilefields clearfix profileinternal">
        <label>
            Email Address
        </label>
        <%= text_field_tag 'email','', :class=>'textfield' %>
    </div>
    <div class="profilefields clearfix profileinternal">
        <label>
            Sex
        </label>
       <!--<select class="profilesex">
            <option> -Select One- </option>
            <option>Male</option>
            <option>Female</option>
        </select>-->
		<%= select_tag "gender", "<option value=''>-Select One-</option><option>Male</option><option>Female</option>", :class => 'profilesex' %>
        <!--<%= text_field 'kontact_information' , "gender" %>-->
    </div>
    <div class="profilefields clearfix profileinternal">
        <label>
            Date of Birth
        </label>
        <%= text_field 'kontact_information' , 'birthday', :class=>'textfield' %>
        <label class="helper">
            Optional: Tell us your date of birth so that we can display your age on your profile
        </label>
    </div>
    <div class="profilefields clearfix profileinternal">
        <label>
            About You
        </label>
        <%= text_area 'kontact_information' , 'about_me' %>
        <label class="helper">
            Describe yourself in 140 characters or less
        </label>
    </div>
</div>
<div class="rightbuttons">
    <%= submit_tag "Finish" %>
    <%= link_to "Skip this step" , profile_kontacts_path(@profile) %>
</div>
<% end -%>