<% @page_title = 'Search Profiles' %>
<%= draw_crumbs %>

<% content_for :searchbar do %>       	
	
	<% form_tag all_search_do_profile_path(@p) do %>	
	

	 <h3> Search All </h3>
	 <%= hidden_field_tag('q', 'z') -%><%= submit_tag 'All', :disable_with => 'Searching..' %> <br /><br /><br />


	   <h3>Search by filter, select 1 or more filters and select search</h3>
	       Age From:- <%= select_tag 'agefrom', options_for_select(%w{Select 10 20 30 40 50 60 70 80 90 100}) -%><br />
	       Age To:- <%= select_tag 'ageto', options_for_select(%w{Select 10 20 30 40 50 60 70 80 90 100}) -%><br />
	       Location:- <select name='location' id='location'>
	       <option value='Select'>Select</option>
		        <% @locations.each do |loc| %>
		        <option value="<%= loc %>"><%= loc%></option>
		        <% end %>
			</select><br />
		Gender:-  <%= select_tag 'gender', options_for_select(%w{Select Male Female}) -%>	 <br />
		Friends:-  <%= select_tag 'friends', options_for_select(%w{Select Yes No}) -%>	 <br />
		Available:- <%= select_tag 'available', options_for_select(%w{Select Online Offline Both}) -%>
		<br />
	    
	       <%= submit_tag 'Search', :disable_with => 'Searching..' %> <br /><br /><br />


		<table border="1px">
		 <h3> Search by Alphabets </h3>

	        <%= hidden_field_tag('q', 'a') -%><%= submit_tag 'A', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'b') -%><%= submit_tag 'B', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'c') -%><%= submit_tag 'C', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'd') -%><%= submit_tag 'D', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'e') -%><%= submit_tag 'E', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'f') -%><%= submit_tag 'F', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'g') -%><%= submit_tag 'G', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'h') -%><%= submit_tag 'H', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'i') -%><%= submit_tag 'I', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'j') -%><%= submit_tag 'J', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'k') -%><%= submit_tag 'K', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'l') -%><%= submit_tag 'L', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'm') -%><%= submit_tag 'M', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'n') -%><%= submit_tag 'N', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'o') -%><%= submit_tag 'O', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'p') -%><%= submit_tag 'P', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'q') -%><%= submit_tag 'Q', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'r') -%><%= submit_tag 'R', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 's') -%><%= submit_tag 'S', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 't') -%><%= submit_tag 'T', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'u') -%><%= submit_tag 'U', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'v') -%><%= submit_tag 'V', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'w') -%><%= submit_tag 'W', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'x') -%><%= submit_tag 'X', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'y') -%><%= submit_tag 'Y', :disable_with => 'Searching..' %>
	
		<%= hidden_field_tag('q', 'z') -%><%= submit_tag 'Z', :disable_with => 'Searching..' %>
	
	        
	</table>
	 <% end %>
<% end %>


