<% @page_title = 'Search' %>
<%= draw_crumbs %>

<% content_for :searchbar do %>
	<% form_tag newprofile_search_do_profile_path(@p) do %>
		<!-- <%= text_field_tag 'q', nil, :class=>"search-box" -%> -->
	       Weeks:- <%= select_tag 'months', options_for_select(%w{Select 1 2 3}) -%> <br />
		Location :- <select name='location' id='location'>
		<option value='Select'>Select</option>
		<% @locations.each do |loc| %>
		<option value="<%= loc %>"><%= loc%></option>
		<% end %>
		</select>
		<br />  		
		Gender:- <%= select_tag 'gender', options_for_select(%w{Select Male Female}) -%>	 <br />
		<%= submit_tag 'Search', :disable_with => 'Searching..' %>
	<% end %>
<% end %>


