<% @page_title = 'Search Results' %>
<%= draw_crumbs %>

<% content_for :actions do %>
  <ul>
    <li><%= link_to "Search again", profile_search_profile_path(@p) %></li>
  </ul>
<% end %>
 <%  if(@agefrom == "Select")
   @age =""
   else
    if(@ageto == "Select")
   @age = "age between " + @agefrom + " to 100"
   else
   @age = "age between " + @agefrom + " to "  +@ageto   
   end
   end
   
   if(@gender == "Select")
   @gender =""
   else
   @gender = "gender is " +@gender
   end
    %>
<% if @results %>
	<% content_for :stories do %>
	  <% content_tag :ul do %>
			<li class="heading">Your search for "Profile based on  <%= h(@age)%> <%= h(@location)%> <%= h(@gender)%>" returned <%= pluralize(@results.length, 'profile') %></li>
	    <% @results.each do |p| %>
	      <%= render :partial => 'profile_list_item', :locals => { :p => p } %>
	    <% end %>
	    <!--li><%#= will_paginate @results %></li-->
	    <li class="heading">Your search for "Profile based on  <%= h(@age)%> <%= h(@location)%> <%= h(@gender)%>" returned <%= pluralize(@kontacts.length, 'contact') %></li>
	    <% @kontacts.each do |k| %>
	      <%= content_tag :li, link_to(k.ki.f, k), :class=>"arrow" %>
	    <% end %>
	    <!--li><%#= will_paginate @kontacts %></li-->
	  <% end %>
	<% end %>
<% end %>


