<% content_for :topbox do %>
	<div>
		<ul>
		  <li>
			<strong>Be tricky! Your password should be at least 4 characters and not a dictionary word or common name. Change your password on occasion.</strong>
		  </li>
		</ul>
	</div>
<% end %>
<% content_for :formholder do %>
  <% form_tag change_password_do_user_path(@u) do %>
    <ul>
      <li><%= label_tag 'Old Password' %></li>
      <li><%= password_field_tag :old_password %></li>
      <li><%= label_tag 'New Password' %></li>
      <li><%= password_field_tag :new_password %></li>
      <li><%= submit_tag "Change", :disable_with => "Changing.." %>
    </ul>
  <% end %>
<% end %>