<%= @page_title = 'Signup' %>
<%#= error_messages_for :user %>
<% content_for :stories do %>
	<ul>
		<!--li><h3 style="padding:5px">Connect with your most valuable social network - the friends and family in your mobile phonebook.</h3></li-->
		<li>
    	<% form_for @user, :url => register_path, :method => :post do |f| %>
        <%= f.label 'Username' -%><%= f.text_field :login, :value => @user.login %>
       	<%= f.label 'Password' -%><span style="font-size:9px">Be tricky! Your password should be at least 4 characters and not a dictionary word or common name. Change your password on occasion</span><%= f.password_field :password, :value => @user.password %>
        <%= f.label 'Mobile Number' -%><small>eg. +27821234567</small><%= text_field_tag :phone_number,'', :value => @user.mobile_number || params[:phone_number] %>
    				<%= check_box_tag :user_terms_of_service, 1, params[:terms_of_service], :checked => 'checked', :class => 'checkbox', :name => 'user[terms_of_service]' %><span style="font-size:9px">By submitting this information, I acknowledge that I have read and agree to the <%= link_to 'Terms &amp; Conditions.', terms_path, :style=>"font-size:9px" %></span>
    	   <%= f.hidden_field :admin_account, :value=>'1' %>

	  <br/><%= f.submit 'Sign up', :disable_with => "Signing up.." %>
    	<% end %>
    </li>
		<li>Already have an account? Click <%= link_to 'here', login_path %> to login.</li>
		<li>
			Forgot your password? Click <%= link_to "here", forgot_password_path %>.
		</li>
		<li>
			Want to know what mobile experience you can expect from your <%= @wurfl_device.brand %> <%= @wurfl_device.model %>? Click <%= link_to "here", device_check_path %>.
		</li>
  </ul>
<% end %>
