<%-
feed_item ||= @feed_item
f = Followship.find(
  feed_item.item_id,
  :include => [:followed, :follower]
)
-%>
<li class="feed_item status_feed" id="<%= feed_item.dom_id rescue rand(1000) %>">
	<%= private_item_icon feed_item %>
  <div class ="lifecontent">
  <div class="lifeheader">
    <%= time_ago_in_words(feed_item.created_at) %> ago
  </div>
  <div class="lifebody">
      <p><%= name_link(f.follower, true, true) %> <%= is_are(f.follower) %> now following <%= name_link(f.followed, true, false) -%></p>
  </div>
  <div class="lifefooter clearfix">
	<div class="friendfeeditem"></div>
	<%#= link_to h(status.profile.formatted_name), status.profile %>
  </div>
  </div>
</li>
