<li>
	<%= content_tag(:div, link_to(avatar_icon_tag(profile_status.profile), profile_status.profile), :class => 'feed-avatar') %>
	<%= posted_by profile_status.profile, profile_status.created_at %>
  <%= content_tag(:div, linkify(shortlinkify(h(profile_status.text))), :class => 'feed-message') %>
	<div class="feed-item-detail"><%= pluralize(profile_status.comments_count, "Comment") %> - <%= link_to('Comment', new_profile_profile_status_comment_path(profile_status.profile, profile_status)) %></div>
</li>