<h1>Editing device_attribute</h1>

<% form_for([@device, @device_attribute]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :device_id %><br />
    <%= f.text_field :device_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', device_device_attribute_path(@device, @device_attribute) %> |
<%= link_to 'Back', device_device_attributes_path(@device) %>
