<h1><%= @device.user_agent %></h1>

<table>
  <tr>
    <th>Device</th>
    <th>Name</th>
    <th>Value</th>
  </tr>

<% for device_attribute in @device_attributes %>
  <tr>
    <td><%=h device_attribute.device_id %></td>
    <td><%=h device_attribute.name %></td>
    <td><%=h device_attribute.value %></td>
    <td><%= link_to 'Show', device_device_attribute_path(@device, device_attribute) %></td>
    <td><%= link_to 'Edit', edit_device_device_attribute_path(@device, device_attribute) %></td>
    <td><%= link_to 'Destroy', device_device_attribute_path(@device, device_attribute), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Devices', device_path(@device) %>
<%= link_to 'New device_attribute', new_device_device_attribute_path(@device) %>
