<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<title>
			<%= @title || SITE_NAME %>
		</title>
		
		<%= javascript_include_tag :defaults,  'jquery' , 'jquery.inplace.pack.js' , 'jquery-ui', 'ui.datepicker', 'jquery.scrollTo','jquery.listnav-1.0.1',  'thickbox', 'truncator' %>
		
		<%= stylesheet_link_tag '7am' %>
		<!--[if lte IE 7]><%= stylesheet_link_tag '7am_ie' %><![endif]-->
		
		<%= yield :head %>
		
		<%= render :partial => 'shared/get_satisfaction' %>
	</head>
	<body id="home">
		<% render :partial => 'shared/header' %>
    
    <%= yield %>
		
    <div id="footer">
			<p>
				Copyright 2008 7.am - Sync. Chat. Locate. All Rights Reserved
			</p>
		</div>
	</body>
</html>
